@font-face {
    font-family: "nunito-regular";
    src:url("../assets/fonts/nunito-regular.ttf") format("truetype");
    font-weight: normal;
  
  }

@font-face {
    font-family: "nunito-light";
    src:url("../assets/fonts/nunito-light.ttf") format("truetype");
    font-weight: normal;
  
  }

@font-face {
    font-family: "nunito-bold";
    src:url("../assets/fonts/nunito-bold.ttf") format("truetype");
    font-weight: normal;
  
  }
