@font-face {
    font-family: "nunito-regular";
<<<<<<< HEAD
    src:url("../assets/fonts/nunito-regular.ttf") format("truetype");
=======
    src:url("./fonts/nunito-regular.ttf") format("truetype");
>>>>>>> 0bc0260... styling added to main, still need radial, giphy api added to giphy component
    font-weight: normal;
  
  }

@font-face {
    font-family: "nunito-light";
<<<<<<< HEAD
    src:url("../assets/fonts/nunito-light.ttf") format("truetype");
=======
    src:url("./fonts/nunito-light.ttf") format("truetype");
>>>>>>> 0bc0260... styling added to main, still need radial, giphy api added to giphy component
    font-weight: normal;
  
  }

@font-face {
    font-family: "nunito-bold";
<<<<<<< HEAD
    src:url("../assets/fonts/nunito-bold.ttf") format("truetype");
=======
    src:url("./fonts/nunito-bold.ttf") format("truetype");
>>>>>>> 0bc0260... styling added to main, still need radial, giphy api added to giphy component
    font-weight: normal;
  
  }
