@import '../styles/fonts';
@import '../styles/partials.scss';

.gif-container{
    width:100%;
    display:flex;
    justify-content: flex-end;
}

.gif{
    border:none;
    width: calc(375px*16/9);
    height:375px;
    border-radius: 5rem;
}
