@import './styles/fonts/';
@import './styles/partials';

.block{
    width:1200px;
    height:950px;
    background:
    linear-gradient(127deg, #8fc3f5c7, rgba(255,0,0,0) 70.71%),
    linear-gradient(336deg, rgba(164, 238, 195, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(217deg, rgb(235, 235, 34), rgba(0,0,255,0) 70.71%);
    padding:2rem;
    margin:-8px;
    box-sizing: border-box;
}

.header{
    display:flex;
}

.header-logo{
    width:6rem;
    padding:0.25rem;
}

.logo{
    font-family:$medium;
    font-size:4.5rem;
    margin:0;
}